body {
  background: orange;
}
p {
  color: blue;
  text-decoration: overline
  
}
h1 {
  font-weight: lighter ;
  font-family: fantasy;
  font-size: 60px;
}
h2{
  font-size: 35px;
  text-decoration: underline;
  
}
li {
  color: rgb(255,15,0)
}

img{
  float: right;
  width:390px;
  border-width: thick;
  border-bottom-color: rgb(50,150,80); 
}
.cc {
  width: 99px;
}
